# Python/Django Backend
backend/__pycache__/
backend/**/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/MANIFEST
backend/venv/
backend/ENV/
backend/*.log
backend/local_settings.py
backend/db.sqlite3
backend/db.sqlite3-journal
backend/media/
backend/storage/
backend/logs/
backend/staticfiles/

# React Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/dist/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Keycloak
keycloak/standalone/
keycloak/themes/*
!keycloak/themes/secure-files/
keycloak/*.log

# Docker & Certs
.docker/
postgres_data/
file-storage/
log-storage/
# certs directory should be there only the contents should be ignored
certs/*

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
venv/

# Keep these files
!frontend/.gitkeep
!backend/.gitkeep
!keycloak/.gitkeep
!certs/.gitkeep